@import './_variables';

html,
body {
	font-size: $default-fontSize;
	font-family: 'Montserrat', sans-serif;
	color: $text-color;
	font-weight: lighter;
}

h1 {
	font-size: 1.8rem;
	margin: $main-spacing 0;
}
h2 {
	font-size: 1.6rem;
	margin: $main-spacing 0;
}
path {
	margin-bottom: $main-spacing;
	line-height: 1.5;
}

span {
	font-weight: bold;
}
